<div class="seller-auth">
<div *ngIf="!showLogin" class="signup">
<h1> Admin Sign-Up </h1>
<form #sellerSignUp="ngForm" (ngSubmit)="signUp(sellerSignUp.value)" class="common-form">
    <input class="form-input" type="text" ngModel name="name" placeholder="Enter Name">
    <input class="form-input" type="password" ngModel name="password" placeholder="Enter Password">
    <input class="form-input" type="email" ngModel name="email" placeholder="Enter E-mail">
    <button class="form-button">SignUp</button>
    <a class="auth-toggle-link" (click)="openlogin()" >Already Have Account ?<div class="link"> <u> Click Hear to Login</u></div></a>
</form>
</div>


<!--    LogIn   -->

<div *ngIf="showLogin" class="Login">
    <h1> Admin Log-In </h1>
    <p class="authError">{{authError}}</p>
    <form #sellerLogin="ngForm" (ngSubmit)="login(sellerLogin.value)" class="common-form">
        <input class="form-input" type="email" ngModel name="email" placeholder="Enter E-mail">
        <input class="form-input" type="password" ngModel name="password" placeholder="Enter Password">
        <button class="form-button">LogIn</button>
        <a class="auth-toggle-link" (click)="openSignUp()" >Don't Have Account ?<div class="link"><u> Click Hear to SignUp</u></div></a>
    </form>
    </div>


</div>